* {
   font-family: "Museo Sans Cyrl", sans-serif;
   box-sizing: border-box;
}

.container {
   max-width: 960px;
   margin: 0 auto;
   position: relative;
}

@import "base/variables";
@import "components/fonts";
@import "components/promo";
@import "components/header";
@import "components/buttons";
@import "components/advantage";
@import "components/_consultation";
@import "components/forms";
@import "components/karousel";
@import "components/catalog";
@import "components/reviews";
@import "components/footer";
@import "base/media";