.karousel {
   padding: 150px 0 80px 0;
   &__slider {
      width: 750px;
      img {
         display: block;
         margin: 0 auto;
      }   
   }
   .prev, .next {
      position: absolute;
      border: none;
      background: #fff;
      top: 50%;
      left: 17px;
      transform: translateX(-50%);
   }
   .next {
      right: -17px;
      left: auto;
   }
.tns-nav {
   display: none;
}
}